::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  min-width: 1160px;
  margin: 0 auto;
  height: auto;
  padding: 0px 40px;
  position: relative;
}
/* Header */
.header {
  flex: 1 1 auto;
  background-image: url(./page/Page\ background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__logo_icon_text {
  position: relative;
  text-align: center;
}

.header_container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(94, 93, 88, 0.6);
}
.header__logo {
  display: flex;
  padding-left: 200px;
}

.logo__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: #ffff;
  font-size: 40px;
}
.logo__text_text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5; /* 48/32 */
  color: #ffff;
  align-items: center;
  padding-top: 10px;
}
.color__text {
  font-weight: 700;
  color: #18cfab;
}
.header__menu {
  flex: 1 1 auto;
  padding-right: 200px;
}
.menu__list {
  display: flex;
  justify-content: end;
  column-gap: 21px;
  padding-top: 5px;
}
.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56; /* 25/16 */
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.menu__link:hover {
  color: #18cfab;
  padding-bottom: 25px;
  border-bottom: 2px solid #18cfab;
  transition: 0.2s;
}
.main {
  padding-top: 264px;
}
.button {
  display: inline-block;
  text-align: center;
  padding: 16px 17.5px;
  background: #00cbf6;
  left: 0px;
  top: 5px;
  width: 150px;
  border-radius: 5px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.button__button:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(24, 207, 171, 0.6727065826330532) 100%
  );
}
.button__button {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.33; /* 35/15 */
  margin: 243px 0px 243px 26px;
}
.text-content-header {
  margin: 0;
  font-weight: normal;
  font-size: 35px;
  line-height: 1px;
  color: #d4d4d4;
  text-transform: none;
}
.header__title {
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__text {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.header_color_text {
  color: #18cfab;
}
.header__container {
  text-align: center;
}
.header__title {
  padding-top: 22px;
  padding-bottom: 22px;
}
/* Black-Green */
.green__black_block {
  display: grid;
  height: 320px;
  grid-template-columns: repeat(4, 1fr);
  border-top: 8px solid #fff;
  width: 100%;
  background: #ffffff;
  margin: 0px;
}
.green__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2; /* 24/20 */
  text-transform: uppercase;
  color: #18cfab;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.green__black.black__items {
  background-color: #1c2a33;
  position: relative;
}
.green__black.green__item {
  background: #18cfab;
  position: relative;
}
.white__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2; /* 24/20 */
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.green__icons.touch {
  position: absolute;
  padding-top: 50px;
  padding-left: 125px;
}
.green__text.touch {
  position: absolute;
  bottom: 20%;
  left: 5%;
}
.white__icons.dimond {
  position: absolute;
  padding-top: 75px;
  padding-left: 125px;
}
.green__icons.bulb {
  position: absolute;
  padding-top: 55px;
  padding-left: 135px;
}
.white__icons.device {
  position: absolute;
  padding-top: 70px;
  padding-left: 125px;
}
/* Services */
.services {
  background: #ffffff;
}
.servise__title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11; /* 40/36 */
  color: #4e4e4e;
  padding-top: 83px;
}
.cervise__stripse {
  position: relative;
  padding-top: 26px;
}
.stripse__one {
  position: absolute;
  left: 625px;
  bottom: 30px;
}
.stripes__two {
  position: absolute;
  left: 605px;
  bottom: 35px;
}
.tabs {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.tabs-list {
  height: 60px;
  padding: 20px;
  background-color: #f8fcfe;
  cursor: pointer;
  border: 1px solid #edefef;
  box-sizing: border-box;
  text-align: center;
  color: #717171;
  transition: 0.3s;
}
.tabs-list:hover {
  transition: 0.2s;
  border: 1.5px solid #18cfab;
}
.tab__content {
  width: 1160px;
  height: 375px;
  padding-top: 69px;
}
.content {
  display: none;
}
.content.active {
  display: block;
  display: flex;
  height: 140px;
}
.tabs-list.active {
  background-color: #18cfab;
  color: white;
  transition: 0.5s;
}
.content span {
  padding-left: 10px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 1.84; /* 24/13 */
  color: #777777;
}
/* Install ------ */
.install {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./image/background/section-2.jpg");
  background-size: auto, cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 480px;
  width: auto;
  position: relative;
}
.isready {
  font-size: 40px;
  line-height: 100%; /* 40/40 */
  font-weight: 700;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  text-align: center;
  padding-top: 73px;
}
.responsive {
  text-align: center;
  align-items: center;
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 40%; /* 16/40 */
  padding-top: 12px;
}
.purchase {
  text-align: center;
  margin-top: 60px;
}
.button-dan {
  display: inline-block;
  text-align: center;
  padding: 16px 17.5px;
  background: #00cbf6;
  left: 0px;
  top: 5px;
  width: 150px;
  border-radius: 5px;
  /* box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db; */
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.33; /* 35/15 */
}
.button-dan:hover {
  background: rgba(24, 180, 194, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(24, 180, 194, 0.17);
}
/* OUR----- */
.oaw {
  text-align: center;
  background-color: #e9edef;
  padding-bottom: 40px;
}
.our {
  text-align: center;
  font-size: 36px;
  line-height: 90%; /* 36/40 */
  color: #4e4e4e;
  padding-top: 80px;
}
.tabs_2 {
  grid-template-columns: repeat(5, 1fr);
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0;
}
.tabs_filter {
  padding-left: 0;
  height: 60px;
  padding: 20px;
  background-color: #f8fcfe;
  cursor: pointer;
  border: 1px solid #edefef;
  box-sizing: border-box;
  text-align: center;
  color: #717171;
  transition: 0.3s;
}
.tabs_filter:hover {
  transition: 0.2s;
  border: 1.5px solid #18cfab;
}
.top-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.create {
  position: relative;
  text-align: center;
  border-top: 2px solid #18cfab;
}
.create img {
  padding-top: 40px;
  padding-bottom: 40px;
}
.design {
  text-transform: uppercase;
  font-weight: 700;
  color: #18cfab;
  font-size: 14.1771px;
  line-height: 25px;
}
.webDesign {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}
.image-item {
  width: 300px;
  height: 220px;
}
.another-image {
  display: none;
}
.load {
  width: 160px;
  font-size: 15px;
  padding: 20px;
  background-color: #18cfab;
  border-radius: 5px;
  transition: 0.5s;
  text-transform: uppercase;
  color: white;
  margin-top: 70px;
  border: none;
}
.load img {
  padding-right: 5px;
}
.load:hover {
  background-color: #1da187;
  border-radius: 15px;
}
.hide {
  display: none !important;
}
/* News ------------------------------- */
.breaken-news {
  padding-bottom: 120px;
}
.news__tittle {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 111.111111%; /* 40/36 */
  padding-top: 80px;
  color: #4e4e4e;
}
.stripse__1 {
  position: absolute;
  left: 585px;
  bottom: 850px;
}
.stripse__2 {
  position: absolute;
  left: 575px;
  bottom: 855px;
}
.breaken-news-content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
}
.breaken-news-item {
  position: relative;
}

.blog {
  align-items: center;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  margin: 0;
  padding-left: 12px;
  padding-top: 10px;
}
.admin {
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
  margin: 0;
  padding-left: 10px;
}
.stick {
  padding-right: 7px;
  padding-left: 2px;
}
.corner {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #203e38;
  top: 0;
  right: 0;
  color: #ffffff;
}

.corner p {
  text-align: center;
  padding-top: 0px;
}
.breaken-news-item:hover .blog {
  color: #18cfab;
}
.breaken-news-item:hover .corner {
  background-color: #18cfab;
}
/* Teams------------- */
.teams {
  background: url(./image/background/section-3.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}
.teams__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teams__title {
  padding-top: 100px;
  font-weight: 400;
  font-size: 46px;
  line-height: 111.111111%; /* 40/36 */
  color: #ffffff;
}
.teams__stripse {
  position: relative;
}
.teams-stripse__1 {
  position: absolute;
  right: -32px;
  bottom: 25px;
}
.teams-stripse__2 {
  position: absolute;
  left: -56px;
  bottom: 29px;
}
.merge {
  position: absolute;
}
.peoples {
  position: relative;
}
.coma {
  padding-left: 600px;
  padding-top: 66px;
}
.menu {
  padding-top: 36px;
  text-align: center;
}
.information {
  color: #bbbbbb;
  font-weight: 300;
  font-size: 16px;
  line-height: 187.5%; /* 30/16 */
  text-align: center;
}
.proffesion {
  text-align: center;
  color: #bbbbbb;
  padding-top: 50px;
  padding-bottom: 10px;
}
.fio {
  font-weight: 700;
  font-size: 16px;
  line-height: 168.75%; /* 27/16 */
  text-transform: uppercase;
  color: #18cfab;
}
.slide {
  display: none;
}
.open {
  display: block;
  position: relative;
  bottom: 10px;
  animation-name: blitz;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes blitz {
  from {
    bottom: 0px;
  }
  to {
    bottom: 10px;
  }
}
.circle {
  border-radius: 50%;
}

.profile {
  border: 10px solid rgba(31, 218, 181, 0.15);
  border-radius: 85px;
  margin-top: 50px;
}
#btn-prev {
  position: absolute;
  bottom: 120px;
  left: 350px;
}

#btn-next {
  position: absolute;
  bottom: 120px;
  right: 350px;
}
.slide-btn:hover {
  background-color: #18cfab;
}

.slide-btn {
  width: 20px;
  padding: 5px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  transition: 0.5s;
}
.unit__content {
  display: flex;
  padding-left: 420px;
  padding-bottom: 100px;
}
.unit {
  padding: 0 20px 0 20px;
}
.unit img {
  border: 3px solid rgba(31, 218, 181, 0.3);
  cursor: pointer;
}
footer {
  width: auto;
  background-color: #22353f;
  height: 80px;
}
.foot {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  text-align: center;
  padding-top: 15px;
}
.foot a {
  color: #18cfab;
  transition: 0.3s;
}
.foot a:hover {
  transition: 0.5s;
  color: #3ef0cc;
}
